@charset "UTF-8";

.pre {white-space: pre;}

.fs15 {font-size: 1.5em;}

.bld {font-weight: bold;}

.red {color: red;}

#hid {font-size: 14px; color: #555; 
background-color: #3fc; display: none;}

.red:hover+#hid {display: inline;}