@charset "UTF-8";

/* 1. transform: translate(); - 위치 변형 */
#sec01>p {
	border: 1px solid;
	width: 200px;
}

.tr01 {
	transform: translateX(1000px);
}

.tr02 {
	transform: translateX(-500px);
}

#sec01:hover>.tr02 {
	transform: translateX(0);
	transition: 1s;
}

.tr03 {
	transform: translateY(-250px);
}

.tr04 {
	transform: translateY(250px);
}

#sec01:hover>.tr05 {
	transform: translate(1000px, 200px);
	transition: 1s;
}

.tr06 {
	transform: translate(100%, 100%);
}

#sec01:hover>.tr06 {
	transform: translate(0, 0);
}

#sec01 {
	position: relative;
}

.cnt {
	border: 1px solid;
	width: 50%;
	height: 100px;
	background-color: #ccc;
	text-align: center;
	
	position: absolute;
	left: 50%; 
	top: 50%;
	/* 상위 요소를 기준으로 정중앙 (시작점) */
	transform: translate(-50%, -50%);
	/* 요소 자신의 크기 절반만큼 위와 왼쪽으로 
	이동해서 항상 상위 요소의 정중앙 */
}

/* 2. transform: scale(); - 크기 변형 */
#sec02>p {
	border: 1px solid;
	width: 320px;
	display: inline-block;
	margin: 30px;
}

.sc01 {
	transform: scaleX(0.3);
}

.sc02 {
	transform: scaleX(1.5);
}

#sec02:hover>.sc03 {
	transform: scaleY(0.3);
	transition: 1s;
}

#sec02:hover>.sc04 {
	transform: scaleY(2);
	transition: 1s;
}

.sc04-1 {
	transform-origin: left bottom;
}

#sec02:hover>.sc04-1 {
	transform: scaleY(2);
	transition: 1s;
}

#sec02:hover>.sc05{
	transform: scale(0.5, 0.5);
	transition: 1s;
}

.sc06{
	overflow: hidden;
}

.sc06>img {
	opacity: 0.5;
	transform: scale(3, 3);
}

.sc06:hover>img {
	transform: scale(1, 1);
	transition: 1s;
	opacity: 1;
}

/* 3. transform: rotate(); - 회전 변형 */
#sec03>p {
	border: 1px solid;
	width: 320px;
	display: inline-block;
	margin: 30px;
}

.ro01 {
	transform: rotateX(80deg);
}

.ro02 {
	transform: rotateY(80deg);
}

#sec03:hover>.ro03 {
	transform: rotateX(180deg);
	transition: 1s;
}

#sec03:hover>.ro04 {
	transform: rotateY(180deg);
	transition: 1s;
}

.ro04-1 {
	transform-origin: 100% 0;
}

#sec03:hover>.ro04-1 {
	transform: rotateY(180deg);
	transition: 1s;
}

#sec03:hover>.ro05 {
	transform: rotate(-360deg);
	transition: 1s;
}

.ro05-1 {
	transform-origin: 0 0;
}

#sec03:hover>.ro05-1 {
	transform: rotate(-360deg);
	transition: 1s;
}

.ro05-2 {
	transform-origin: 100px -200px;
}

#sec03:hover>.ro05-2 {
	transform: rotate(-360deg);
	transition: 1s;
}

#sec03:hover>.ro06>img {
	transform: rotate(1080deg);
	transition: 2s;
}

.ro06 {
	overflow: hidden;
}

/* 4. transform: skew(); - 기울기 변형 */
#sec04>p {
	border: 1px solid;
	width: 320px;
	display: inline-block;
	margin: 30px;
}

.sk01 {
	transform:skewX(30deg);
}

.sk02 {
	transform:skewX(-30deg);
}

.sk03 {
	transform:skewY(30deg);
}

.sk04 {
	transform:skewY(-30deg);
}

.sk05 {
	transform:skew(30deg,30deg);
}

#sec04:hover>.sk06 {
	transform: skew(-30deg, -30deg);
	transition: 1.2s;
}
